<main id="main">
    <div id="jobs-page-map" class="white-container img-w mb-0">

        <img src="assets/img/leadership.jpg" class="img-fluid">

    </div>

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs mt-0">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Leadership</h2>
                <ol>
                    <li><a href="index.html">Home</a></li>
                    <li>About</li>
                    <li>Leadership</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
<div class="container-xxl feature py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
          
            <div class="col-lg-12">
                <div class="row g-4 align-items-center">
                    <div class="col-md-3 wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
                        <div class="feature-box border rounded p-4">
                            <i class="fa fa-check fa-3x text-primary mb-3"></i>
                            <h4 class="mb-3">Prithvi Singh (Founder)</h4>
                            <p class="mb-3">
                                The inception of Sprucefly took place in ---
                            </p>
                            <!-- <a class="fw-semi-bold" href="">Read More <i class="fa fa-arrow-right ms-1"></i></a> -->
                        </div>
                    </div>
                    <div class="col-md-3 wow fadeIn" data-wow-delay="0.7s" style="visibility: visible; animation-delay: 0.7s; animation-name: fadeIn;">
                        <div class="feature-box border rounded p-4">
                            <i class="fa fa-check fa-3x text-primary mb-3"></i>
                            <h4 class="mb-3">Harry (Chief Opearting Officer)</h4>
                            <p class="mb-3">On the personal Opearting, Prithvi has worked ---</p>
                            <!-- <a href="" class="fw-semi-bold">Read More <i class="fa fa-arrow-right ms-1"></i></a> -->
                        </div>
                    </div>
                    <div class="col-md-3 wow fadeIn" data-wow-delay="0.7s" style="visibility: visible; animation-delay: 0.7s; animation-name: fadeIn;">
                        <div class="feature-box border rounded p-4">
                            <i class="fa fa-check fa-3x text-primary mb-3"></i>
                            <h4 class="mb-3">Anju (Technical Head) </h4>
                            <p class="mb-3">A technology expert With an experience of over 15 Y</p>
                            <!-- <a class="fw-semi-bold" href="#anju">Read More <i class="fa fa-arrow-right ms-1"></i></a> -->
                        </div>
                    </div>
                    <div class="col-md-3 wow fadeIn" data-wow-delay="0.7s" style="visibility: visible; animation-delay: 0.7s; animation-name: fadeIn;">
                        <div class="feature-box border rounded p-4">
                            <i class="fa fa-check fa-3x text-primary mb-3"></i>
                            <h4 class="mb-3">Vikash (Head of Marketing) </h4>
                            <p class="mb-3">Vikash is an experienced performance marketing.</p>

                            <!-- <a class="fw-semi-bold" href="#vikash">Read More <i class="fa fa-arrow-right ms-1"></i></a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </section><!-- End Portfolio Details Section -->

    <div class="container pb-5">
        <div class="row">
            <div class="col-lg-12 mb-5 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                <h3>Prithvi Singh (CEO)</h3>
                <p class="mb-4">The inception of Sprucefly took place in --- when Prithvi Singh, the founder and CEO of Sprucefly happened to come across the complications of boarding a flight and the other hassles that come along with it. This inspired him to do something so profound in the form of Sprucefly so that people do not have to think twice before booking a flight.           </p>
            </div>
            <div id="anju" class="col-12 mb-5">
                <h3>Anju (Technical Head)</h3>
                <p>
                    A technology expert is what Anju is. With an experience of over 15+ years, she knows pretty well how to handle complicated platform architectures for different domains of an industry. As one of the heads at Sprucefly, Anju takes care of all the upcoming projects which are further carried out under her supervision. She has a knack for understanding various market requirements and processes and sets a plan to take over them strategically.
                </p>
                <p>    Every team member admires Anju and her working style since she has all the necessary characteristics of a leader, which is what makes her stand out.</p>
            </div>
            <div id="vikash" class="col-12 mb-5">
                <h3>Vikash (Head of Marketing) </h3>
                <p>Vikash is an experienced performance marketing director with an established history of working in the marketing and advertising industry for years. His core strategy is to lead teams to success (specifically for B2C & B2B). In addition to that, Vikash is skilled in Marketing Management & strategy, Brand management, Negotiation, PPC, Meta, Search, Social and programmatic media buying across different industries (travel, education, gaming, eCommerce, and more). In addition, he holds vast experience working with clients, empowering their marketing, and scaling their operations.</p>
                <p><b>Some facts about Vikash that are admirable are:</b></p>
                <ul>

                    <li>He demonstrates a strict, professional mindset.</li>
                    <li>He is passionate about being an empathic and curious leader who believes in motivating employees and cultivating autonomy through trust and alignment to pave the way for all to do their best every day.</li>
                    <li>He believes that a team can work efficiently through a healthy culture and people development to achieve great results and outstanding performance.</li>
                    <li>He has a logical, analytical approach and a data- & results-driven personality. I thrive in fast-paced environments with growth as a key driver and testing as a catalyst for learning.</li>

                </ul>
            </div>
        </div>
    </div>
</main><!-- End #main -->
