<main id="main">
    <div id="jobs-page-map" class="white-container img-w mb-0">

        <img src="assets/img/sprucefly.jpg" class="img-fluid">

    </div>

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs mt-0">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>What we do</h2>
                <ol>
                    <li><a routerLink="home">Home</a></li>
                    <li>About</li>
                    <li>What we do</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container-xxl service py-5">
            <div class="container">
               
                <div class="row g-4 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                    <div class="col-lg-4">
                        <div class="nav nav-pills d-flex justify-content-between w-100 h-100 me-4">
                            <button class="nav-link w-100 d-flex align-items-center text-start border p-4 mb-4 active" data-bs-toggle="pill" data-bs-target="#tab-pane-1" type="button">
                                <h5 class="m-0">What we do</h5>
                            </button>
                            <button class="nav-link w-100 d-flex align-items-center text-start border p-4 mb-4" data-bs-toggle="pill" data-bs-target="#tab-pane-2" type="button">
                                <h5 class="m-0">Mission</h5>
                            </button>
                            <button class="nav-link w-100 d-flex align-items-center text-start border p-4 mb-4" data-bs-toggle="pill" data-bs-target="#tab-pane-3" type="button">
                                <h5 class="m-0">Vision</h5>
                            </button>
                            <button class="nav-link w-100 d-flex align-items-center text-start border p-4 mb-4" data-bs-toggle="pill" data-bs-target="#tab-pane-4" type="button">
                                <h5 class="m-0">Goal</h5>
                            </button>
                            
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="tab-content w-100">
                            <div class="tab-pane fade active show" id="tab-pane-1">
                                <div class="row g-4">
                                    <div class="col-md-6" style="min-height: 350px;">
                                        <div class="position-relative h-100">
                                            <img class="position-absolute rounded w-100 h-100" src="assets/img/service-1.jpg" style="object-fit: cover;" alt="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <h3 class="mb-4">What we do</h3>
                                        <p class="mb-4">We make travelling easy, in the simplest of terms. When you’re on the move, we’d make sure you’re provided with the most appropriate and apt sort of services so that you experience a smooth ride, overall. Booking flights for long and exhausting journeys is an overwhelming procedure, our team has witnessed the various kind of hassles passengers have to face and in order to drop the stress of any sort, and we are here to provide you with assistance 24*7!</p>
                                        <!----<a href="" class="btn btn-primary py-3 px-5 mt-3">Read More</a>-->
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab-pane-2">
                                <div class="row g-4">
                                    <div class="col-md-6" style="min-height: 350px;">
                                        <div class="position-relative h-100">
                                            <img class="position-absolute rounded w-100 h-100" src="assets/img/Mission.jpg" style="object-fit: cover;" alt="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <h3 class="mb-4">Provide ease to people who constantly commute</h3>
                                        <p class="mb-4">Our mission is not something that is taken for granted. We perceive and believe in pouring our hearts in front of people who commute constantly. It may sound easy-peasy lemon-squeezy, but reaching out to every individual customer with a new kind of problem or complexity to resolve requires courage and our team at Sprucefly has plenty of that! Next time, you don’t have to worry about baggage allowances, booking tickets too early/too late or even misspelt/incorrect details. In such a case, if you contact to any helpdesk associated with Sprucefly, you’d never be let down. We are great problem-solvers and can assist you in the most efficient and earliest wat possible.</p>
                     
                                        <!-- <a href="" class="btn btn-primary py-3 px-5 mt-3">Read More</a> -->
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab-pane-3">
                                <div class="row g-4">
                                    <div class="col-md-6" style="min-height: 350px;">
                                        <div class="position-relative h-100">
                                            <img class="position-absolute rounded w-100 h-100" src="assets/img/Vision.jpg" style="object-fit: cover;" alt="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <h3 class="mb-4">Stay memorable among customers</h3>
                                        <p class="mb-4">We envision Sprucefly as one of the leading agencies people can rely on. We want to create a prominent brand name that lasts among individuals. Once a customer figures how huge a role we’re playing in the field, they’d naturally revert to us and demand more of our services. Oftentimes, it is seen that any sort of petty or massive concern are left unanswered, leaving the customer disheartened. The customers, most of the times are clueless about their stay at their destination spot. We are here to address this too. From the moment you book a ticket to the time you travel back to your city, Sprucefly assures you that they are there and more than happy to help you all.</p>
                     
                                        <!-- <a href="" class="btn btn-primary py-3 px-5 mt-3">Read More</a> -->
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab-pane-4">
                                <div class="row g-4">
                                    <div class="col-md-6" style="min-height: 350px;">
                                        <div class="position-relative h-100">
                                            <img class="position-absolute rounded w-100 h-100" src="assets/img/Aim.jpg" style="object-fit: cover;" alt="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <h3 class="mb-4">Your concerns reach an end here</h3>
                                        <p class="mb-4">The most futuristic aim we carry is to help others. Sprucefly would run on the sole reason of addressing people’s each and every concern, whether it’s about a refund that’s due, or with the booking of tickets, or even with providing the most basic amenities when a person reaches the airport, Sprucefly will take care of all of that. The tumbler of coffee and bottle of water you require during flights- all’s on us! So, next time you book a flight, discard the skepticism of tourist destinations to visit and hotels to stay at night, Sprucefly aims on doing everything for you, happily!</p>


                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab-pane-4">
                                <div class="row g-4">
                                    <div class="col-md-6" style="min-height: 350px;">
                                        <div class="position-relative h-100">
                                            <img class="position-absolute rounded w-100 h-100" src="assets/img/service-4.jpg" style="object-fit: cover;" alt="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <h3 class="mb-4">25 Years Of Experience In Financial Support</h3>
                                        <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu
                                            diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit
                                            clita duo justo erat amet.</p>
                                        <p>Secured Loans</p>
                                        <p>Credit Facilities</p>
                                        <p>Cash Advanced</p>
                                        <a href="" class="btn btn-primary py-3 px-5 mt-3">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->