<main id="main">
    <div id="jobs-page-map" class="white-container img-w mb-0">

      <img src="assets/img/sprucefly.jpg" class="img-fluid">

  </div>
    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs mt-0">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Who we are</h2>
          <ol>
            <li><a routerLink="home">Home</a></li>
            <li>About</li>
            <li>Who we are</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container">
        <section id="what-we-do" class="team section-bg py-0">
          <div class="container aos-init aos-animate" data-aos="fade-up">

            <div class="section-title">
                <p class="text-start"></p>
            </div>

          </div>
        </section>

        <div class="container aos-init aos-animate" data-aos="fade-up">
          <div class="row">
            <div class="col-lg-6 order-2 section-title order-lg-1 aos-init aos-animate" data-aos="fade-right">
              <div class="icon-box mt-5 mt-lg-0">
                  <h4 class="text-start">Who we are</h4>
                <p class="text-start">Sprucefly is a travel technology agency that ensures a promising journey from your location to your destination. But that’s not what it’s exclusive to. Sprucefly also knows how to satisfy customer needs and demands that arrive unannounced. We are here to ensure each and every customer that no concern is big or small and most importantly, none should be left un-addressed. Therefore, we are here to listen to you and help you in every way possible so that reminiscing your entire travelling experience brings a smile on your face.</p>
              </div>
             
                           
            </div>
            <div class="image col-lg-6 img-fluid order-1 order-lg-2 text-end img-res">
              <img src="assets/img/blog/blog-2.jpg" class="img-res"/>

            </div>
          </div>
        