<div class="banner pt-0 pb-0">
    <img src="assets/img/bg1.jpg" class="d-block w-100" style="max-height:340px;" alt="...">
</div>
    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs mt-0">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Services</h2>
                <ol>
                    <li><a routerLink="home">Home</a></li>
                    <li>Services</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section class="inner-page pt-0">
        <section class="background-11">
            <div class="container">
                <div class="section-title">
                    <h2>OUR  <span>SERVICES</span> AT SPRUCEFLY</h2>
                </div>
                <div class="row no-gutters pos-relative mt-6">
                    <div class="elixir-caret d-none d-lg-block"></div>
                    <div class="col-lg-6 py-3 py-lg-0 mb-0">
                        <div class="background-holder radius-tl-secondary radius-tr-secondary radius-tr-lg-0">
                            <img src="assets/img/GDS-flight-booking.jpg">
                        </div><!--/.background-holder-->
                    </div>
                    <div class="col-lg-6 px-lg-5 py-lg-6 p-4 my-lg-0 background-white radius-bl-secondary radius-bl-lg-0 radius-br-secondary radius-br-lg-0 radius-tr-lg-secondary">
                        <div class="d-flex align-items-center h-100">
                            <div data-zanim-timeline="{}">
                                <div class="overflow-hidden">
                                    <h5 data-zanim="{&quot;delay&quot;:0}" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                                        GDS Flight Booking
                                    </h5>
                                </div>
                                <div class="overflow-hidden">
                                    <p class="mt-3" data-zanim="{&quot;delay&quot;:0.1}"
                                       style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                                        Your go-to portal to book tickets and access their status from any corner of the world! Not just that, whether it's about booking hotel rooms, car rentals, accessing travel concerns, or even reaching out to any specific agent, Sprucefly has you covered through its advanced GDS system.
                                    </p>
                                </div>
                                <div class="overflow-hidden">
                                    <h5 data-zanim="{&quot;delay&quot;:0}"
                                        style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                                        White Label Solution
                                    </h5>
                                </div>
                                <div class="overflow-hidden">
                                    <p class="mt-3" data-zanim="{&quot;delay&quot;:0.1}"
                                       style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                                        Travel agencies may easily and rapidly sell hotels, flights, vacations, buses and other travel products to their consumers using Sprucefly's online booking gateway. To help their business function smoothly, we can also monitor all of their financial transactions online and produce various reports on the go!
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row no-gutters pos-relative mt-4 mt-lg-0">
                    <div class="elixir-caret d-none d-lg-block"></div>
                    <div class="col-lg-6 py-3 py-lg-0 mb-0 order-lg-2">
                        <div class="background-holder radius-tl-secondary radius-tl-lg-0 radius-tr-secondary radius-tr-lg-0">
                            <img src="assets/img/Travel-technology.jpg">
                        </div><!--/.background-holder-->
                    </div>
                    <div class="col-lg-6 px-lg-5 py-lg-6 p-4 my-lg-0 background-white radius-bl-secondary radius-bl-lg-0 radius-br-secondary radius-br-lg-0">
                        <div class="d-flex align-items-center h-100">
                            <div data-zanim-timeline="{}">
                                <div class="overflow-hidden">
                                    <h5 data-zanim="{&quot;delay&quot;:0}"
                                        style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                                        Travel Portal B2C & B2B
                                    </h5>
                                </div>
                                <div class="overflow-hidden">
                                    <p class="mt-3" data-zanim="{&quot;delay&quot;:0.1}"
                                       style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                                        The potential of travel agencies, tour companies, and other enterprises involved in the travel sector in the international market is enhanced by Sprucefly's B2B travel website-building services. As a result, this business model is the entry point for all significant travel-related items utilized by travel agents worldwide.
                                    </p>
                                    <p class="mt-3" data-zanim="{&quot;delay&quot;:0.1}"
                                       style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">The B2C booking engine from Sprucefly makes it incredibly simple for anyone to reserve a flight, a hotel room, and a vehicle rental at a competitive price. Of course, B2C has a lot more to offer, but we provide these core services.</p>
                                </div>
                               

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row no-gutters pos-relative mt-4 mt-lg-0">
                    <div class="elixir-caret d-none d-lg-block"></div>
                    <div class="col-lg-6 py-3 py-lg-0 mb-0" style="max-height:400px;">
                        <div class="background-holder radius-tl-secondary radius-tr-secondary radius-tr-lg-0 radius-tl-lg-0 radius-bl-0 radius-bl-lg-secondary">
                            <img src="assets/img/payment-gateway-integration.jpg">
                        </div><!--/.background-holder-->
                    </div>
                    <div class="col-lg-6 px-lg-5 py-lg-6 p-4 my-lg-0 background-white radius-bl-secondary radius-bl-lg-0 radius-br-secondary">
                        <div class="d-flex align-items-center h-100">
                            <div data-zanim-timeline="{}">
                                <div class="overflow-hidden">
                                    <h5 data-zanim="{&quot;delay&quot;:0}"
                                        style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                                        API Integration
                                    </h5>
                                </div>
                                <div class="overflow-hidden">
                                    <p class="mt-3" data-zanim="{&quot;delay&quot;:0.1}"
                                       style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                                        You may access thousands of third-party travel offers with ease and transparency thanks to interfaces with the travel API, such as the one at Sprucefly. In addition, by providing a large selection of travel items as standalone services or bundles, you can establish your business as the go-to online travel destination for customers and partners.

                                    </p>
                                </div>
                                <div class="overflow-hidden">
                                    <h5 data-zanim="{&quot;delay&quot;:0}"
                                        style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                                        Payment Gateway Integration
                                    </h5>
                                </div>
                                <div class="overflow-hidden">
                                    <p class="mt-3" data-zanim="{&quot;delay&quot;:0.1}"
                                       style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                                        The solution that enables your travel website to accept real-time debit or credit card payments is known as a payment gateway. This cutting-edge solution that Sprucefly offers acts as a link for payments to be securely processed between you and your merchant account.
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>


            </div>
    <!--/.container-->
        </section>
    </section><!-- End Portfolio Details Section -->
